<!DOCTYPE html>
<html>
    <head>
        <style>
            #myDIV
            {
            width: 100%;
            position: static;
            }
        </style>
    </head>
    
    <body>
    
        <p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>
        
        <button onclick="myFunction('myDIV')">Try it</button>
        
        <div id="myDIV">
            <iframe src="https://www.vevo.com/watch/future/mask-off/USSM21700624" frameborder="0"></iframe>
        </div>
        
        <p><b>Note:</b> The element will not take up any space when the display property set to "none".</p>
        
        <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.style.display === 'none') {
                x.style.display = 'block';
            } else {
                x.style.display = 'none';
            }
        }
        </script>
    
    </body>
</html>
